/*@import "../../maps/maps.component.css";*/
.nav {
  position: fixed;
  display: none;
  height: 100%;
  width: 20%;
  /*min-height: 500px;*/
  z-index: 3;
  top: 0;
  left: 0;
  color: #f1f1f1;
  background-color: #444444;
  opacity: 0.9;
  overflow-x: hidden;
  /*transition: 0.5s;*/
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.65);
}

#filters-nav--header {
  display: none;
  margin: 2%;
  padding: 12px;
  /*border-bottom: solid 2px #818181;*/
  justify-content: space-between;
}

/* The navigation menu links */
#filters-nav--header > * {
  position: relative;
  text-decoration: none;
  padding-right: 5%;
}

.nav-close-button {
  color: #818181;
}

.nav-close-button:hover {
  color: #f1f1f1;
}

.filters-nav--entries {
  padding: 15px;
}

.filters-nav--entry {
  display: none;
  flex-direction: column;
}

.filters-nav-form--header {
  width: 100%;
  margin-bottom: 5%;
  padding: 5px;
  border-bottom: solid 2px #818181;
}

.filters-nav-form--header > a {
  cursor: pointer;
  color: #818181;
}

.filters-nav-form--header > a:hover {
  color: #f1f1f1;
}

.filters-nav-form {
  display: none;
  flex-direction: column;
  /*margin: 2% 2% 2%;*/
}

.filters-nav--fields {
  display: flex;
  flex-direction: column;
  /*border-bottom: solid 2px #818181;*/
  /*border-top: solid 2px #818181;*/
  margin-bottom: 5%;
  padding: 10px;
}

.filters-nav--fields > * {
  /*color: #444444;*/
  width: 90%;
  margin-bottom: 5px;
  margin-top: 5px;
  opacity: 1.0;
  font-style: italic;
  padding: 10px;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-bottom: 2px solid #818181;
  border-radius: 0;
  color: #f1f1f1;
  font-size: large;
}

.filters-nav--fields > *:focus {
  background: none;
  outline: none;
  border-bottom: 3px solid #f1f1f1;
}
.filters-nav-form--buttons {
  position: relative;
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
}

.filters-nav-form--buttons > a {
  color: #818181;
}

.filters-nav-form--buttons > a:hover {
  color: #f1f1f1;
}

@media (max-width: 480px) {
  .nav {
    width: 100%;
  }
}
