.nav {
  position: fixed;
  display: none;
  height: 100%;
  width: 350px;
  /*min-height: 500px;*/
  z-index: 3;
  top: 0;
  left: 0;
  color: #f1f1f1;
  background-color: #444444;
  opacity: 0.9;
  /*overflow-x: hidden;*/
  /*overflow-y: scroll;*/
  /*transition: 0.5s;*/
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  flex-direction: column;
  justify-content: flex-start;
}

#filters-nav--header {
  display: none;
  padding: 5%;
  /*border-bottom: solid 2px #818181;*/
  justify-content: space-between;
  align-content: space-around;
}

a {
  color: #818181;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  color: #f1f1f1;
}

/* The navigation menu links */
#filters-nav--header, #restore-view--button > * {
  margin-right: 10px;
}

#filters-nav--entries {
  display: none;
  padding: 15px;
  flex-direction: column;
  justify-content: flex-start;
}

.filters-nav--entry {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.filters-nav-form--header {
  position: relative;
  width: 100%;
  margin-bottom: 5%;
  padding: 1%;
  border-bottom: solid 2px #818181;
}

.filters-nav-form--header > a {
  color: #f1f1f1;
}

.filters-nav-form--header > a:hover {
  color: white;
}

.filters-nav-form {
  display: none;
  flex-direction: column;
  /*margin: 2% 2% 2%;*/
}

.filters-nav--fields {
  display: flex;
  flex-direction: column;
  /*border-bottom: solid 2px #818181;*/
  /*border-top: solid 2px #818181;*/
  margin-bottom: 5%;
  padding: 2%;
}

.filters-nav--field {
  /*color: #444444;*/
  width: 90%;
  margin-bottom: 1%;
  margin-top: 1%;
  opacity: 1.0;
  font-style: italic;
  padding: 2%;
  -webkit-appearance: none;
  background: none;
  border: none;
  border-bottom: 2px solid #818181;
  border-radius: 0;
  color: #f1f1f1;
  font-size: medium;
}

.filters-nav--field:focus {
  background: none;
  outline: none;
  border-bottom: 3px solid #f1f1f1;
}

.filters-nav-form--buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {

  .nav {
    position: fixed;
    width: 100%;
    min-height: 200%;
    /*overflow-y: scroll;*/
  }

  #filters-nav--header {
    padding-bottom: 5px;
  }

  #filters-nav--entries {
    padding-top: 5px;
  }

  a {
    color: #f1f1f1;
  }

  .return-footer {
    display: none;
    color: #818181;
    align-self: center;
    margin-bottom: 5%;
  }

  .return-footer > * {
    margin: 0;
    text-align: center;
  }
}

@media (max-height: 480px) {
  .filters-nav--field {
    /*width: 70%;*/
  }
}
