<div id="filters-nav" class="nav close-on-esc">
  <div id="filters-nav--header" class="close-on-esc">
    <a id="restore-view--button" (click)="onClickUndoFiltering($event)">
      <i class="fas fa-undo fa-1x"></i>
      <label for="restore-view--button">Undo filtering</label>
    </a>
    <a id="filters-nav-close-button" class="nav-close-button" (click)="closeFiltersNav($event)">
      <i class="fas fa-arrow-left fa-2x"></i>
      <label hidden class="description" for="filters-nav-close-button">Close filtering side menu</label>
    </a>
  </div>
  <div id="filters-nav--entries" class="close-on-esc">
    <div id="filter-by-place" class="filters-nav--entry">
      <div id="filter-by-place-form--header" class="filters-nav-form--header">
        <a (click)="togglePlaceFilters($event)"><strong>Filters potholes by place</strong></a>
      </div>
      <div id="filter-by-place-form" class="filters-nav-form close-on-esc">
        <div id="filter-by-place-fields" class="filters-nav--fields">
          <input id="filter-field--country" type="text" placeholder="Country (optional)"
                 [value]="country" (input)="country=$event.target.value; displayRegion($event)"
                 (focus)="onInputFocus($event)" (blur)="onInputBlur($event)">
          <label hidden class="description" for="filter-field--country"> Specify the Country, optional field</label>

          <input hidden id="filter-field--region" type="text" placeholder="Region (optional)"
                 [value]="region" (input)="region=$event.target.value; displayCounty($event)"
                 (focus)="onInputFocus($event)" (blur)="onInputBlur($event)">
          <label hidden class="description" for="filter-field--region"> Specify the Region, optional field</label>

          <input hidden id="filter-field--county" type="text" placeholder="County (optional)"
                 [value]="county" (input)="county=$event.target.value; displayTown($event)"
                 (focus)="onInputFocus($event)" (blur)="onInputBlur($event)">
          <label hidden class="description" for="filter-field--county"> Specify the county, optional field</label>

          <input hidden id="filter-field--town" type="text" placeholder="Town (optional)"
                 [value]="town" (input)="town=$event.target.value; displayRoad($event)"
                 (focus)="onInputFocus($event)" (blur)="onInputBlur($event)">
          <label hidden class="description" for="filter-field--town"> Specify the town, optional field</label>

          <input hidden id="filter-field--road" type="text" placeholder="Road (optional)"
                 [value]="road" (input)="road=$event.target.value; "
                 (focus)="onInputFocus($event)" (blur)="onInputBlur($event)">
          <label hidden class="description" for="filter-field--road"> Specify the road, optional field</label>
        </div>
        <div id="filter-by-place--buttons" class="filters-nav-form--buttons">
          <a class="hidden">
            <label hidden class="description" for="filter-by-place--buttons">Padding</label>
          </a>
          <a id="filter-by-place-send--button"
             class="filters-nav-form--send-button"
             (click)="onClickFetchMarkersByPlace($event)">
            <i class="fas fa-arrow-circle-right fa-2x"></i>
            <label hidden class="description" for="filter-by-place--buttons">Fetch filtered markers</label>
          </a>
        </div>
      </div>
    </div>

    <div id="filter-by-route" class="filters-nav--entry">
      <div id="filter-by-route-form--header" class="filters-nav-form--header">
        <a (click)="toggleRouteFilters($event)"> <strong>Filters potholes by route</strong></a>
      </div>
      <div id="filter-by-route-form" class="filters-nav-form close-on-esc">
        <div id="filter-by-route--fields" class="filters-nav--fields">
          <input id="filter-field--origin" type="text"
                 name="Origin" placeholder="Origin"
                 (input)= "origin = $event.target.value;" [value]="origin"
                 (focus)="onInputFocus($event)" (blur)="onInputBlur($event)">
          <label hidden class="description" for="filter-field--origin"> Specify the origin</label>

          <input id="filter-field--destination" type="text"
                 name="Destination" placeholder="Destination"
                 (input)="destination= $event.target.value;" [value]="destination"
                 (focus)="onInputFocus($event)" (blur)="onInputBlur($event)">
          <label hidden class="description" for="filter-field--destination"> Specify the destination</label>

          <input id="filter-field--search-radius" type="number"
                 name="Search Radius (meters)"
                 placeholder="Search Radius (default: 100 meters)"
                 (input)= "radius = $event.target.value;" [value]="radius"
                 (focus)="onInputFocus($event)" (blur)="onInputBlur($event)">
          <label hidden class="description" for="filter-field--search-radius"> Specify the search radius, default value 100 meters</label>
        </div>
        <div id="filter-by-route--buttons" class="filters-nav-form--buttons">
          <a class="hidden">
            <label hidden class="description" for="filter-by-route--buttons">Padding</label>
          </a>
          <a id="filter-by-route-send--button"
             class="filters-nav-form--send-button"
             (click)="onClickFetchMarkersByRoute($event)">
            <i class="fas fa-arrow-circle-right fa-2x"></i>
            <label hidden class="description" for="filter-by-route-send--button">Fetch route markers</label>
          </a>
        </div>
      </div>
    </div>
    <app-checkbox-group></app-checkbox-group>
  </div>
</div>
