:host{
  user-select: none;
}

#header-icon-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: transparent;
  z-index: 2;
  pointer-events: none;
}

.header {
  position: relative;
  /*top: 4%;*/
  /*left: 3%;*/
  /*justify-content: space-between;*/
  background-color: transparent;
  display: flex;
  z-index: 2;
  pointer-events: none;
  padding: 10px;
  margin-top: 2%;
}

#filters {
  flex-direction: row;
  align-items: flex-end;
}

#filters > a {
  margin-left: 20px;
  /*float: left;*/
  pointer-events: all;
  cursor: pointer;
  text-decoration: none;
}

#credits {
  flex-direction: row-reverse;
  align-items: flex-start;
}

#credits > a {
  /*float: right;*/
  pointer-events: all;
  margin-right: 20px;
  cursor: pointer;
  text-decoration: none;
}

#email {
  color: indianred;
  transition: 0.3s;
}
#email:hover {color: red}

#repository{
  color: mediumpurple;
  transition: 0.3s;
}

#repository:hover{color: purple}

#help {
  color: #999999;
  transition: 0.3s;
}

#help:hover {color: #333333}

#filters-button {
  color: #444444;
  transition: 0.3s;
}

#filters-button:hover {color: black}
