:host{
  user-select: none;
}

#filters {
  position: absolute;
  top: 4%;
  left: 3%;
  /*justify-content: space-between;*/
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 2;
  pointer-events: none;
}

#filters > a {
  padding-right: 25px;
  float: left;
  pointer-events: all;
  cursor: pointer;
  text-decoration: none;
}

#credits {
  position: absolute;
  top: 4%;
  right: 2%;
  /*width: 100%;*/
  /*justify-content: space-between;*/
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  z-index: 2;
  pointer-events: none;
  margin-right: 2%;
}

#credits > a {
  position: relative;
  float: right;
  pointer-events: all;
  padding-left: 25px;
  text-decoration: none;
}

#email {
  color: indianred;
  transition: 0.3s;
}
#email:hover {color: red}

#repository{
  color: mediumpurple;
  transition: 0.3s;
}

#repository:hover{color: purple}

#about {
  color: #444444;
  transition: 0.3s;
}

#about:hover {color: black}

#help {
  color: #999999;
  transition: 0.3s;
}

#help:hover {color: #f1f1f1}

#menu-button {
  color: #444444;
  transition: 0.3s;
}

#menu-button:hover {color: black}
