:host{
  user-select: none;
}

#header-icon-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: transparent;
  z-index: 2;
  padding: 3% 2% 2% 2%;
  pointer-events: none;
  align-content: baseline;
}

#filters {
  position: relative;
  /*top: 4%;*/
  /*left: 3%;*/
  /*justify-content: space-between;*/
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 2;
  pointer-events: none;
  padding: 10px;
}

#filters > a {
  margin-left: 10px;
  float: left;
  pointer-events: all;
  cursor: pointer;
  text-decoration: none;
}

#credits {
  position: relative;
  /*top: 4%;*/
  /*right: 2%;*/
  /*width: 100%;*/
  /*justify-content: space-between;*/
  background-color: transparent;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  z-index: 2;
  pointer-events: none;
  margin-right: 1%;
  padding: 10px;
}

#credits > a {
  position: relative;
  float: right;
  pointer-events: all;
  margin-right: 10px;
  text-decoration: none;
}

#email {
  color: indianred;
  transition: 0.3s;
}
#email:hover {color: red}

#repository{
  color: mediumpurple;
  transition: 0.3s;
}

#repository:hover{color: purple}

#about {
  color: #444444;
  transition: 0.3s;
}

#about:hover {color: black}

#help {
  color: #999999;
  transition: 0.3s;
}

#help:hover {color: #f1f1f1}

#menu-button {
  color: #444444;
  transition: 0.3s;
}

#menu-button:hover {color: black}
