<div id="marker-popup" class="close-on-esc overlay">
  <div id="marker-popup-header"><p><strong>Marker Information</strong></p>
    <a id="marker-popup-close-button" class="close-button">
      <i class="fas fa-times-circle fa-xl"></i>
    </a>
  </div>
  <div id="marker-popup-info">
    <label id="marker-popup-label--coordinates">
      <strong>Coordinates</strong>:
      <var id="marker-popup-var--coordinates-lat" typeof="double"></var><strong>N</strong>,
      <var id="marker-popup-var--coordinates-lng" typeof="double"></var><strong>E</strong>
    </label>
    <label id="marker-popup-label--country">
      <strong>Country</strong>: <var id="marker-popup-var--country"></var>
    </label>
    <label id="marker-popup-label--region">
      <strong>Region</strong>: <var id="marker-popup-var--region"></var>
    </label>
    <label id="marker-popup-label--county">
      <strong>County</strong>: <var id="marker-popup-var--county"></var>
    </label>
    <label id="marker-popup-label--town">
      <strong>Town</strong>: <var id="marker-popup-var--town"></var>
    </label>
    <label id="marker-popup-label--place">
      <strong>Place</strong>: <var id="marker-popup-var--place"></var>
    </label>
    <label id="marker-popup-label--road">
      <strong>Road</strong>: <var id="marker-popup-var--road"></var>
    </label>
  </div>
  <textarea id="marker-popup-comment"
            placeholder="Insert here your comment! (max.: 500 chars)"
            maxlength="500" rows="10" cols="30">
  </textarea>
  <a id="marker-popup-send-button" class="marker-send-button">
    <i class="fas fa-arrow-circle-right fa-2x"></i>
  </a>
</div>
