<div id="marker-popup" class="close-on-esc overlay">
  <div id="marker-popup--header" class="marker-popup-entry">
    <a><strong>Marker</strong></a>
    <a id="marker-popup--coordinates">
      [{{latitude}} <strong>N</strong>, {{longitude}} <strong>E</strong>]
    </a>
  </div>
  <div id="marker-popup--info" class="marker-popup-entry">
    <div *ngIf="country != _null"
           id="marker-popup-label--country"
           class="primary" for="marker-popup--info">
      <strong>Country</strong>: {{country}}
    </div>
    <div *ngIf="region != _null"
           id="marker-popup-label--region"
           class="primary" for="marker-popup--info">
      <strong>Region</strong>: {{region}}
    </div>
    <div *ngIf="county != _null"
           id="marker-popup-label--county"
           class="primary" for="marker-popup--info">
      <strong>County</strong>: {{county}}
    </div>
    <div *ngIf="city != _null"
           id="marker-popup-label--city"
           class="primary">
      <strong>City</strong>: {{city}}
    </div>
    <div *ngIf="district != _null"
           id="marker-popup-label--district"
           class="secondary" for="marker-popup--info">
      <strong>District</strong>: {{district}}
    </div>
    <div *ngIf="suburb != _null"
           id="marker-popup-label--suburb"
           class="secondary" for="marker-popup--info">
      <strong>Suburb</strong>: {{suburb}}
    </div>
    <div *ngIf="town != _null"
           id="marker-popup-label--town"
           class="primary" for="marker-popup--info">
      <strong>Town</strong>: {{town}}
    </div>
    <div *ngIf="place != _null"
           id="marker-popup-label--place"
           class="secondary" for="marker-popup--info">
      <strong>Place</strong>: {{place}}
    </div>
    <div *ngIf="road != _null"
           id="marker-popup-label--road"
           class="primary" for="marker-popup--info">
      <strong>Road</strong>: {{road}}
    </div>
  </div>
  <div id="marker-popup--confirmations" class="marker-popup-entry">
    <div id="confirmations-level"><strong>Number of confirm</strong>: {{confirmationLevel}}</div>
    <a id="marker-popup-add-confirmation-button"
       class="add-confirmation-button marker-popup-button"
       (click)="confirmPotholePresence($event)">
      <i *ngIf="isMobile()" class="fas fa-plus-square fa-3x"></i>
      <i *ngIf="!isMobile()" class="fas fa-plus-square fa-2x"></i>
      <span hidden class="description">Add a confirmation of the presence of this pothole</span>
    </a>
  </div>
  <div id="marker-popup--comment" class="marker-popup-entry">
      <textarea id="marker-popup-comment--text"
                class="marker-popup-text"
                placeholder="Insert here your comment! (max.: 500 chars)"
                maxlength="500" rows="10" cols="30"
                (input)="commentText = $event.target.value"
                (focus)="onFocusHideMarkerPopup($event)"></textarea>
        <span hidden>Insert here your comment about the selected pothole</span>
  </div>
  <div id="marker-popup--footer" class="marker-popup-entry">
    <a id="marker-popup-close-button"
       class="close-button marker-popup-button"
       (click)="hideMarkerPopup($event)">
      <i *ngIf="isMobile()" class="fas fa-times-circle fa-3x"></i>
      <i *ngIf="!isMobile()" class="fas fa-times-circle fa-2x"></i>
      <span hidden class="description">Close Marker Popup</span>
    </a>
    <a id="marker-popup-send-button" class="marker-send-button marker-popup-button" (click)="addComment($event)">
      <i *ngIf="isMobile()" class="fas fa-arrow-circle-right fa-3x"></i>
      <i *ngIf="!isMobile()" class="fas fa-arrow-circle-right fa-2x"></i>
      <span hidden class="description">Send Comment for Marker</span>
    </a>
  </div>
</div>

<div id="comment-stub" class="stub close-on-esc" hidden>
    <textarea id="text-stub"
              class="marker-popup-text"
              placeholder="Insert here your comment! (max.: 500 chars)"
              maxlength="500" rows="10" cols="30"
              (input)="commentText = $event.target.value"
              (blur)="onBlurDisplayMarkerPopup($event)"></textarea>
</div>
