@import "../maps.component.css";

:host{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  /*background-color: #818181;*/
  z-index: 3;
  pointer-events: none;
}

#marker-popup {
  position: relative;
  flex-direction: column;
  min-width: 480px;
  min-height: 480px;
  width: 25%;
  margin-top: auto;
  margin-bottom: auto;
  pointer-events: all;
  padding: 10px;
  justify-content: flex-start;
  opacity: 0.90;
}

.marker-popup-entry {
  display: flex;
}

#marker-popup--header {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 2px #818181;
  padding: 5px 10px 10px 10px;
  margin: 0 5px 5px;
}

#marker-popup--info {
  flex-direction: column;
  border: none;
  border-bottom: solid 2px #818181;
  /*border-top: solid 2px #818181;*/
  margin: 5px;
  padding: 10px;
}

#marker-popup--info > * {
  padding-bottom: 0.5em;
  /*padding-left: 10px;*/
}

.marker-field {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

#marker-popup--comment {
  padding: 10px;
  border-bottom: solid 2px #818181;
  justify-content: center;
  /*margin: 5px;*/
}

.marker-popup-text {
  background: whitesmoke;
  color: #444444;
  width: 95%;
  min-height: 30%;
  max-width: 95%;
  resize: none;
  margin: 5px;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: italic;
}

#marker-popup--footer {
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  margin: 5px 5px;
}


.marker-popup-button {
  color: #818181;
  cursor: pointer;
}

.marker-popup-button:hover {
  color: #f1f1f1;
}

.stub {
  display: none;
}

.marker-field-value {
  text-overflow: ellipsis;
}

#marker-popup--confirmations{
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 2px #818181;
  padding: 5px 10px 10px 10px;
  margin: 0 5px 5px;
}

@media (max-width: 768px){
  :host{
    position: unset;
    left: unset;
    top: unset;
    width: unset;
    height: unset;
    display: unset;
    justify-content: unset;
    align-content: unset;
    /*background-color: #818181;*/
    z-index: unset;
    pointer-events: unset;
  }

  #marker-popup {
    position: fixed;
    margin-top: unset;
    margin-bottom: unset;
    left:0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    /*font-size: small;*/
    opacity: 0.95;
    justify-content: flex-start;
    z-index: 3;
  }

  .marker-popup-entry {
    /*display: none;*/
    margin-right: 6%;
  }

  #marker-popup--header{
    margin-right: 6%;
  }

  #marker-popup--info{
    margin-right: 6%;
  }

  #marker-popup--confirmations{
    margin-right: 6%;
  }

  .primary{
    text-overflow: ellipsis;
  }

  .secondary {
    display: none;
    text-overflow: ellipsis;
  }

  #marker-popup--footer {
    margin-right: 6%;
    padding: 4%;
  }

  .marker-popup-text {
    width: 90%;
    height: auto;
  }

  .stub {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px;
    width: 100%;
    height: 100%;
    background-color: #333333;
    z-index: 3;
  }

  #text-stub {
    margin-left: 0;
    width: 90%;
    height: 90%;
    font-size: medium;
  }
}

@media (max-height: 768px) {

  .marker-popup-text {
    height: auto;
  }

  #marker-popup {
    height: auto;
  }
}
