<div id="layers-checkbox-group" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">
  <label id="checkbox-group-title"> Select which layer you want to show: </label>
  <div>
    <input type="checkbox" id="route-layer-checkbox" class="layer-checkbox" [(ngModel)]="routeChecked" (change)="onRouteClicked($event)"/>Route
  </div>
  <div>
    <input type="checkbox" id="fetched-markers-layer-checkbox" class="layer-checkbox" [(ngModel)]="fetchedChecked" (change)="onFetchedClicked($event)"/>Selected Markers
  </div>
  <div>
    <input type="checkbox" id="user-defined-layer-checkbox" class="layer-checkbox" [(ngModel)]="userDefinedChecked"(change)="onUserDefinedClicked($event)"/>User defined
    <input type="checkbox" id="system-defined-layer-checkbox" class="layer-checkbox" [(ngModel)]="systemDefinedChecked"(change)="onSystemDefinedClicked($event)"/>System defined
  </div>
</div>
