@import url("https://unpkg.com/leaflet@1.3.3/dist/leaflet.css");

#osmMap {
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.overlay {
  position: fixed;
  z-index: 2;
  background-color: #444444;
  color: white;
  border-radius: 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  font-size: medium;
  opacity: 0.8;
  padding: 5px;
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#coordinates-overlay {
  cursor: pointer;
  min-width: 180px;
}

#lat-lng-span {
  float: right;
  padding-right: 5px;
  padding-left: 5px;
}

#messages-overlay {
  top: 25%;
  right: 50%;
}

#messages-overlay > span {
  float: right;
  padding-right: 5px;
  padding-left: 2px;
}

#coordinates-overlay-close-button {
  float: left;
  position: relative;
  opacity: 0.8;
  padding-right: 2px;
  padding-left: 5px;
  color: #818181;
}

#coordinates-overlay-close-button:hover {
  color: #f1f1f1;
}

/*
 * These CSS rules affect the tooltips within maps with the custom-popup
 * class. See the full CSS for all customizable options:
 * https://github.com/mapbox/mapbox.js/blob/001754177f3985c0e6b4a26e3c869b0c66162c99/theme/style.css#L321-L366
*/
.leaflet-popup-content-wrapper {
  resize: both;
  border-radius: 0;
}

#leaflet-popup-form {
  background: transparent;
}

#leaflet-popup-text {
  background: transparent;
  min-height: 30px;
  resize: vertical;
  border: solid #333;
}

#leaflet-popup-button {
  padding: 2% 5%;
  background:#333;
  color: white;
  border: 0 none;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-top: 5%;
}
