@import url("https://unpkg.com/leaflet@1.3.3/dist/leaflet.css");
@import url("https://unpkg.com/leaflet-draw@1.0.2/dist/leaflet.draw.css");

#osm-map {
  height: 100%;
  z-index: 1;
  overflow: hidden;
}

.overlay {
  position: fixed;
  display: none;
  z-index: 2;
  background-color: #444444;
  color: #f1f1f1;
  /*border-radius: 5px;*/
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  /*font-size: medium;*/
  opacity: 0.9;
  padding: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
