<div id="osmMap">
  <template id="leaflet-popup-html">
    <div id="leaflet-popup-form" class="marker-popup">

      <!--p>Commenti:</p-->

      <textarea id="leaflet-popup-text" class="marker-popup" placeholder="Insert here your comment!" maxlength="200" rows="5" cols="30"></textarea>

      <button id="leaflet-popup-button" class="marker-popup" onClick=""> Send </button>
    </div>
  </template>
</div>
<div id="messages-overlay" class="overlay close-on-esc">
  <span id="message"></span>
</div>
<div id="coordinates-overlay" class="overlay">
  <a id="coordinates-overlay-close-button">
    <i class="fas fa-times-circle fa-xs"></i>
  </a>
  <input type="text" value="0.0 N, 0.0 E" id="lat-lng-input" hidden>
  <span id="lat-lng-span"></span>
</div>

<div class="context-menu overlay close-on-esc">

  <div class="context-menu__icons col">
    <div class="context-menu__icon row">
      <i class="fas fa-map-marker-alt"></i>
    </div>
    <div class="context-menu__icon row">
      <i class="fas fa-vector-square"></i>
    </div>
    <div class="context-menu__icon row">
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>

  <div class="context-menu__items col">
    <div class="context-menu__item row">
      <a id="add-marker" class="context-menu__link">
        <div class="context-menu__label">
          <label>Add Marker</label>
        </div>
      </a>
    </div>
    <div class="context-menu__item row">
      <a id="add-area-selector" class="context-menu__link">
        <div class="context-menu__label">
          <label>Add Area Selector</label>
        </div>
      </a>
    </div>
    <div class="context-menu__item row">
      <a id="clear-layers" class="context-menu__link">
        <div class="context-menu__label">
          <label>Clear All</label>
        </div>
      </a>
    </div>
  </div>

</div>
