<div id="layers-checkbox-group" class="filters-nav--entry" xmlns="http://www.w3.org/1999/html">
  <div id="checkbox-group-title" class="filters-nav-form--header inactive">
    <a (click)="toggleCheckboxContainer($event)"><strong>Filter which layer to show</strong></a>
  </div>
  <div id="checkbox-container" class="filters-nav-form close-on-esc">
    <div class="check-box-row">
      <input type="checkbox" id="route-layer-checkbox" class="layer-checkbox" [(ngModel)]="routeChecked" (change)="onRouteClicked($event)"/> <label for="route-layer-checkbox">Route</label>
    </div>
    <div class="check-box-row">
      <input type="checkbox" id="fetched-markers-layer-checkbox" class="layer-checkbox" [(ngModel)]="fetchedChecked" (change)="onFetchedClicked($event)"/>
      <label for="fetched-markers-layer-checkbox">Selected Markers </label>
      <span class="layer-icon marker fetched-marker"></span>
    </div>
    <div class="check-box-row">
      <input type="checkbox" id="user-defined-layer-checkbox" class="layer-checkbox" [(ngModel)]="userDefinedChecked" (change)="onUserDefinedClicked($event)"/>
      <label for="user-defined-layer-checkbox">User added markers</label>
      <span class="layer-icon marker user-added-marker" [style.color]="userColor"></span>
    </div>
    <div class="check-box-row">
      <input type="checkbox" id="system-defined-layer-checkbox" class="layer-checkbox" [(ngModel)]="systemDefinedChecked" (change)="onSystemDefinedClicked($event)"/>
      <label for="system-defined-layer-checkbox">Default markers</label>
      <span class="layer-icon marker server-marker" ></span>
    </div>
    <div class="check-box-row">
      <input type="checkbox" id="user-position-layer-checkbox" class="layer-checkbox" [(ngModel)]="positionChecked" (change)="onUserPositionClicked($event)"/>
      <label for="user-position-layer-checkbox">User Position</label>
      <span class="layer-icon marker position-marker"></span>
    </div>
  </div>
</div>
