@import "../maps.component.css";
/**
 * CUSTOM CONTEXT MENU
 **/
.context-menu {
  display: none;
  min-width: 150px;
  position: absolute;
  z-index: 3;
  background: #444444;
  opacity: 0.95;
  border-radius: 0;
  grid-auto-flow: column;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.65);
  padding: 5px 0 3px 0;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.context-menu__icons {
  grid-column: 1;
}

.context-menu__icon {
  margin: 2px 2px 2px 2px;
}

.context-menu__items {
  grid-column: 2;
}

.context-menu__item {
  margin-right: 5px;
}

.row {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  padding: 5px;
}

.context-menu__icon {
  color: #f1f1f1;
  margin-right: 5px;
  margin-left: 10px;
}

.context-menu__link {
  color: #919191;
  cursor: pointer;
}

.context-menu__link:hover {
  color: #f1f1f1;
}

#area-retrieve-icon, #area-retrieve-item {
  display: none;
}

@media (max-width: 480px) {
  .context-menu {
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 70%;
    font-size: x-large;
    padding: 5% 0 5% 0;
  }

  .col {
    justify-content: space-between;
    margin-right: auto;
    /*margin-left: auto;*/
  }

  .context-menu__icons {
    /*margin-left: auto;*/
  }
}
