<div id="map-context-menu" class="context-menu overlay close-on-esc">

  <div class="context-menu__icons col">
    <div class="context-menu__icon row">
      <i class="fas fa-map-marker-alt"></i>
    </div>
    <div class="context-menu__icon row">
      <i class="fas fa-vector-square"></i>
    </div>
    <div id="area-retrieve-icon" class="context-menu__icon row">
      <i class="fas fa-vector-square"></i>
    </div>
    <div class="context-menu__icon row">
      <i class="fas fa-trash-alt"></i>
    </div>
    <div class="context-menu__icon row">
      <i class="fas fa-trash-alt"></i>
    </div>
    <div class="context-menu__icon row">
      <i class="fas fa-trash-alt"></i>
    </div>
    <div class="context-menu__icon row">
      <i class="fas fa-cog"></i>
    </div>
  </div>

  <div class="context-menu__items col">
    <div class="context-menu__item row">
      <a id="add-marker" class="context-menu__link" (click)="addMarker($event)">
        <strong>Add Marker</strong>
      </a>
    </div>
    <div class="context-menu__item row">
      <a id="add-area-selector" class="context-menu__link" (click)="addArea($event)">
        <strong>Select Area</strong>
      </a>
    </div>
    <div id="area-retrieve-item" class="context-menu__item row">
      <a id="retrieve-selected-area" class="context-menu__link" (click)="retrieveArea($event)">
          <strong>Retrieve Area</strong>
      </a>
    </div>
    <div class="context-menu__item row">
      <a id="clear-layers-selection" class="context-menu__link" (click)="clearSelection($event)">
        <strong>Clear Selection</strong>
      </a>
    </div>
    <div class="context-menu__item row">
      <a id="clear-layers-markers" class="context-menu__link" (click)="clearMarkers($event)">
        <strong>Clear Markers</strong>
      </a>
    </div>
    <div class="context-menu__item row">
      <a id="clear-layers-all" class="context-menu__link" (click)="clearAll($event)">
        <strong>Clear All</strong>
      </a>
    </div>
    <div class="context-menu__item row">
      <a id="heatmap-mode" class="context-menu__link toggle"
         (click)="displayHeatMap($event)">
          <strong>Heatmap</strong>
      </a>
      <a id="markers-mode" class="context-menu__link toggle"
         style="display: none" (click)="displayMarkers($event)">
        <strong>Markers</strong>
      </a>
    </div>

  </div>
</div>

