<div id="map-context-menu" class="context-menu overlay close-on-esc">

  <div class="context-menu__icons col">
    <div class="context-menu__icon row">
      <i class="fas fa-map-marker-alt"></i>
    </div>
    <div class="context-menu__icon row">
      <i class="fas fa-vector-square"></i>
    </div>
    <div id="area-retrieve-icon" class="context-menu__icon row">
      <i class="fas fa-vector-square"></i>
    </div>
    <div class="context-menu__icon row">
      <i class="fas fa-trash-alt"></i>
    </div>
    <div class="context-menu__icon row">
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>

  <div class="context-menu__items col">
    <div class="context-menu__item row">
      <a id="add-marker" class="context-menu__link" (click)="addMarker($event)">
        <div class="context-menu__label">
          <label>Add Marker</label>
        </div>
      </a>
    </div>
    <div class="context-menu__item row">
      <a id="add-area-selector" class="context-menu__link" (click)="addArea($event)">
        <div class="context-menu__label">
          <label>Select Area</label>
        </div>
      </a>
    </div>
    <div id="area-retrieve-item" class="context-menu__item row">
      <a id="retrieve-selected-area" class="context-menu__link" (click)="retrieveArea($event)">
        <div class="context-menu__label">
          <label>Retrieve Area</label>
        </div>
      </a>
    </div>
    <div class="context-menu__item row">
      <a id="clear-layers-selection" class="context-menu__link" (click)="clearSelection($event)">
        <div class="context-menu__label">
          <label>Clear Selection</label>
        </div>
      </a>
    </div>
    <div class="context-menu__item row">
      <a id="clear-layers-markers" class="context-menu__link" (click)="clearMarkers($event)">
        <div class="context-menu__label">
          <label>Clear Markers</label>
        </div>
      </a>
    </div>

  </div>
</div>

