<div id="map-context-menu" class="context-menu overlay close-on-esc">

  <div class="context-menu__icons col">
    <div class="context-menu__icon row">
      <i class="fas fa-map-marker-alt"></i>
    </div>
    <div class="context-menu__icon row">
      <i class="fas fa-vector-square"></i>
    </div>
    <div class="context-menu__icon row">
      <i class="fas fa-trash-alt"></i>
    </div>
  </div>

  <div class="context-menu__items col">
    <div class="context-menu__item row">
      <a id="add-marker" class="context-menu__link">
        <div class="context-menu__label">
          <label>Add Marker</label>
        </div>
      </a>
    </div>
    <div class="context-menu__item row">
      <a id="add-area-selector" class="context-menu__link">
        <div class="context-menu__label">
          <label>Add Area Selector</label>
        </div>
      </a>
    </div>
    <div class="context-menu__item row">
      <a id="clear-layers" class="context-menu__link">
        <div class="context-menu__label">
          <label>Clear All</label>
        </div>
      </a>
    </div>
  </div>
</div>

