.marker{
  border-color: #222222;
  width: 1.5rem;
  height: 1.5rem;
  display: block;
  left: -1.0em;
  top: -1.0em;
  position: relative;
  border-radius: 1rem 1rem 0;
  transform: rotate(45deg);
}


.user-added-marker{
  background-color: #48c6d4;
  border: 2px solid #222222;
}

.server-marker{
  background-color: #3bcf2e;
  border: 2px solid #222222;
}

.fetched-marker{
  background-color: rgb(212, 87, 72);
  border: 3px solid #222222;
}

.position-marker{
  border-radius: 1rem;
  background-color: #f2ff00;
  border: 3px solid #0d00ff;
  top:0em;
}
